{% extends 'core/base.html' %}

{% block content %}
<div class="about">
    <p class="answer">
    lolelo.gg is a website that makes predictions about the NA LCS using the
    <a href="https://en.wikipedia.org/wiki/Elo_rating_system">Elo rating system</a>.
    </p>
    <p class="thanks">
    Credit is due to <a href="https://fivethirtyeight.com/">fivethirtyeight.com<a>
    for their detailed explanations of how they tuned their models, which were
    extremely helpful, and for their very nicely styled prediction tables, which
    I pretty much completely copied.
    </p>
    <p class="author">
    lolelo.gg is written and maintained by
    <a href="https://twitter.com/brendanxwallace">Brendan Wallace</a>.
    </p>
</div>
{% endblock %}