{% extends 'nalcs/base.html' %}

{% load static %}

{% block content %}

<div class="intro">
  <!-- TODO - implement this: -->
  <h1>2017 NA LCS Predictions</h1>
  <p class="last-updated">Last updated {{ last_updated }}</p> <!--JUL. 4, 2017 AT 4:42 PM-->
</div>

<div class="content">
<div class="nav">
  <a id="standings-select" class="selected">Standings</a>
  <a id="upcoming-select" class="">Upcoming Matches</a>
</div>

<div id="teams">
  <table id="nalcs_standings_table" class="standings display-none">
    <thead>
      <tr class="heading" id="nalcs_standings_headings_row">
      </tr>
    </thead>
  </table>
</div>

<div id="matches" class="">
<nav class="weeks">
  {% for week in all_matches %}
    <a id="{{ week.week }}">{{ week.title }}</a>
  {% endfor %}
</nav>

{% for week in all_matches %}
  <div class="week" id="{{ week.week }}">
  {% for by_date in week.dates %}
    <h3 class="date">{{ by_date.title }}</h3>
    <table class="upcoming">
    {% for match in by_date.matches %}
    <tr>
      <td class="match-name">{{ match.team_1 }} vs {{ match.team_2 }}</td>

      {% if match.finished %}
        <td class="match result">
          <img class="team-icon" src="{% get_static_prefix %}nalcs/{{ match.team_1 }}.png"/>
          <span class="team">{{ match.team_1_wins }}</span>
          <img class="team-icon" src="{% get_static_prefix %}nalcs/{{ match.team_2 }}.png"/>
          <span class="team">{{ match.team_2_wins }}</span>
        </td>
      {% elif match.ongoing %}
        <td class="match ongoing">
          <span>match ongoing!</span>
        </td>
      {% else %}
        <td class="match prediction">
          <img class="team-icon" src="{% get_static_prefix %}nalcs/{{ match.team_1 }}.png"/>
          <span class="team">{{ match.team_1_win_p }}</span>
          <img class="team-icon" src="{% get_static_prefix %}nalcs/{{ match.team_2 }}.png"/>
          <span class="team">{{ match.team_2_win_p }}</span>
        </td>
      </tr>
      {% endif %}
    {% endfor %}
    </table>
  {% endfor %}
  </div>
{% endfor %}

</div>

</div>

<script src="{% static 'nalcs/d3.min.js' %}"></script>
<script>
  // This is kind of a hack to avoid making a JSON request to the server.
  var nalcs_standings_data = [
  {% for team in teams %}
    {
      team: {
        display: "{{ team.name }}",
        sort: "{{ team.name }}",
        icon: "{% get_static_prefix %}nalcs/{{ team.name }}.png",
      },
      rating: {
        display: "{{ team.rating_display }}",
        delta: "{{ team.rating_delta }}",
        delta_sign: "{{ team.rating_delta_sign }}",
        sort: {{ team.rating }},
      },
      matchRecord: {
        display: "{{ team.match_wins }} - {{ team.match_losses }}",
        sort: {{ team.match_wins }} / ({{ team.match_wins }} + {{ team.match_losses }}),
      },
      gameRecord: {
        display: "{{ team.game_wins }} - {{ team.game_losses }}",
        sort: {{ team.game_wins }} / ({{ team.game_wins }} + {{ team.game_losses }}),
      },
      makePlayoffs: {
        display: "{{ team.make_playoffs_display }}",
        delta: "{{ team.make_playoffs_delta }}",
        delta_sign: "{{ team.make_playoffs_delta_sign }}",
        sort: {{ team.make_playoffs }},
      },
      winSplit: {
        display: "{{ team.win_split_display }}",
        delta: "{{ team.win_split_delta }}",
        delta_sign: "{{ team.win_split_delta_sign }}",
        sort: {{ team.win_split }},
      },
      qualifyForWorlds: {
        display: "{{ team.qualify_for_worlds_display }}",
        delta: "{{ team.qualify_for_worlds_delta }}",
        delta_sign: "{{ team.qualify_for_worlds_delta_sign }}",
        sort: {{ team.qualify_for_worlds }},
      },
    },
  {% endfor %}
  ];

  var match_data = [
    {% for w in all_matches %}
    {
      week: {{ w.week }},
      dates: [
        {% for d in w.dates %}
          {
            date: "{{ d.date }}",
            matches: [
              {% for m in d.matches %}
              {
                team_1: "{{ m.team_1.name }}",
                team_2: "{{ m.team_2.name }}",
                icon_1: "{% get_static_prefix %}nalcs/{{ m.team_1.name }}.png",
                icon_2: "{% get_static_prefix %}nalcs/{{ m.team_2.name }}.png",
                finished: {% if m.finished %}true{% else %}false{% endif %},
                team_1_win_p: "{{ m.team_1_win_p | default:"" }}",
                team_2_win_p: "{{ m.team_2_win_p | default:"" }}",
                team_1_wins: {{ m.team_1_wins }},
                team_2_wins: {{ m.team_2_wins }},

              },
              {% endfor %}
            ],
          },
        {% endfor %}
      ],
    },
    {% endfor %}
  ]

  
  
  </script>
<script src="{% static 'nalcs/nalcs.js' %}"></script>

{% endblock %}